/* меню */
.nav {
        margin: 20px 0;
}
.nav ul {
        margin: 0;
        padding: 0;
        text-align: center;
}
.nav li {
        margin: 0 5px 10px 0;
        padding: 0;
        list-style: none;
        display: inline-block;
        *display:inline; /* ie7 */
}
.nav a {
        padding: 3px 12px;
        text-decoration: none;
        color: #999;
        line-height: 100%;
}
.nav a:hover {
        color: #000;
}
.nav .current a {

        color: #000;
        border-radius: 3px;
}

/* меню справа */
.nav.right ul {
        text-align: right;
}

@media screen and (max-width: 600px) {
        .nav {
                position: relative;
                min-height: 40px;
        }
        .nav ul {
                width: 180px;
                padding: 5px 0;
                position: absolute;
                top: 0;
                left: 0;
                border: solid 1px #aaa;
                background: #FAFAFA url(images/icon-menu.png) no-repeat 10px 11px;
                border-radius: 5px;
                box-shadow: 0 1px 2px rgba(0,0,0,.3);
                left: auto;
                right: 0;
        }
        .nav li {
                display: none; /* скрыть все <li> пункты */
                margin: 0;
        }
        .nav .current {
                display: block; /* показывать только текущие активные <li> пункты */
        }
        .nav a {
                display: block;
                padding: 5px 5px 5px 32px;
                text-align: left;
        }
        .nav .current a {
                background: none;
                color: #666;
        }

        /* при наведении на пункты меню */
        .nav ul:hover {
                background-image: none;
        }
        .nav ul:hover li {
                display: block;
                margin: 0 0 5px;
        }
        .nav ul:hover .current {
                background: url(/wp-content/uploads/images/icon-check.png) no-repeat 10px 7px;
        }
        /* адаптивное меню справа */
        .nav.right ul {
                left: auto;
                right: 0;
        }
}

