.newss > .news {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.newss > .news:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.news {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }
    .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 15px;
  }
}
